#img-input {
  display: none;
}
#video-input {
  display: none;
}

.uploadForm {
  width: 100vw;
  height: 100vh;
  background-color: rgba(black, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  flex-direction: column;
  // justify-content: center;
  z-index: 10;

  &__header {
    background-color: lightblue;
    width: 100%;
    height: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &--label {
      width: 35%;
      height: 80%;
      margin-left: 2%;
      font-size: 1.3rem;
    }
    &--close {
      width: 15%;
      height: 80%;
      text-align: center;
      font-size: 1.3rem;
    }
  }

  &__form {
    width: 100%;
    height: 55%;
    // height: 90%;
    display: flex;
    flex-direction: column;
    background-color: white;

    &--container {
      width: 100%;
      height: 85%;
      // height: 50%;

      display: flex;
      flex-direction: column;

      &--comment {
        width: 100%;
        height: 75%;
        font-size: 1.2rem;
        border: none;
        resize: none;

        &:focus {
          outline: none;
        }
      }

      &--upload {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        &--image {
          &--button {
            width: 40%;
            height: 100%;
            background-color: none;
            border: none;
            &--icon {
              width: 30px;
              height: 30px;
              margin-right: 20px;
              margin-left: 2%;
              cursor: pointer;
            }
          }
        }
        &--video {
          &--button {
            width: 40%;
            height: 100%;
            background-color: none;
            border: none;
            &--icon {
              width: 30px;
              height: 30px;
              cursor: pointer;
            }
          }
        }
      }
    }

    &--preview {
      display: none;
      width: 100%;
      height: 35%;
      border: 1px solid black;
      &--img {
        width: 100%;
        height: 100%;
      }
      &--video {
        width: 100%;
        height: 100%;
      }
    }

    &--submit {
      width: 100%;
      height: 15%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      &--button {
        width: 45%;
        height: 80%;
        border: 1px solid #929191;
        border-radius: 8px;
        font-family: "Crimson Text", serif;
        font-size: 1rem;
        color: #929191;
        &:focus {
          outline: none;
        }
      }
    }
  }
}

.addComment {
  width: 100%;
  height: 15%;
  background-color: rgb(255, 255, 255);
  margin-top: 2%;
  border: 1px lightgrey solid;

  &__form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    &--container {
      width: 100%;
      height: 70%;
      display: flex;
      flex-direction: column;

      &--comment {
        width: 100%;
        height: 65%;
        font-size: 1.2rem;
        border: none;
        background-color: rgb(255, 255, 255);

        &:focus {
          outline: none;
        }
      }

      &--upload {
        width: 100%;
        height: 35%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        &--image {
          width: 20px;
          height: 20px;
          margin-right: 20px;
          margin-left: 2%;
        }
        &--video {
          width: 20px;
          height: 20px;
        }
      }
    }

    &--submit {
      width: 100%;
      height: 30%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      &--button {
        width: 45%;
        height: 80%;
        border: 1px solid #929191;
        border-radius: 8px;
        font-family: "Crimson Text", serif;
        font-size: 1rem;
        color: #929191;
      }
    }
  }
}

@include tablet {
  .uploadForm {
    justify-content: center;
    &__header {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      &--label {
        font-size: 1.7rem;
      }
      &--close {
        font-size: 1.9rem;
      }
    }

    &__form {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      &--container {
        &--comment {
          font-size: 2rem;
        }

        &--upload {
          &--image {
            &--button {
              &--icon {
                width: 50px;
                height: 50px;
              }
            }
          }
          &--video {
            &--button {
              &--icon {
                width: 50px;
                height: 50px;
              }
            }
          }
        }
      }
      &--submit {
        &--button {
          font-size: 2rem;
        }
      }
    }
  }

  .addComment {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

    &__form {
      &--container {
        &--comment {
          font-size: 1.5rem;
        }

        &--upload {
          &--image {
            width: 35px;
            height: 35px;
          }
          &--video {
            width: 35px;
            height: 35px;
          }
        }
      }

      &--submit {
        &--button {
          font-size: 1.3rem;
        }
      }
    }
  }
}

@include desktop {
  .uploadForm {
    &__header {
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
    }

    &__form {
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
    }
  }
  .addComment {
    width: 100%;
    height: 20%;
    margin: 0;
    margin-top: 2%;

    &__form {
      &--container {
        &--comment {
          font-size: 2rem;
        }
      }

      &--submit {
        &--button {
          font-size: 1.7rem;
        }
      }
    }
  }
}
