/* media query for mobile */
@mixin mobile {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

/* media query for tablet */
@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

/* media query for desktop */
@mixin desktop {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}
