.changePassword {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__loader {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__username {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 2% 0;
    &--label {
      width: 50%;
      height: 80%;
      margin-left: 5%;
      font-family: "Crimson Text", serif;
      font-size: 1.3rem;
      font-weight: bold;
    }
  }

  &__form {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--oldPW {
      width: 100%;
      height: 13%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      margin: 2% 0;
      font-family: "Crimson Text", serif;
      font-size: 1.1rem;
      &--label {
        width: 100%;
        margin-right: 5%;
        margin-left: 5%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
      &--input {
        width: 90%;
        height: 50%;
        margin-left: 5%;
        margin-right: 5%;
        border: 1px lightgrey solid;
        border-radius: 4px;
        background-color: rgb(235, 235, 235);
        font-family: "Crimson Text", serif;
        font-size: 1.1rem;
        padding-left: 1%;
        &:focus {
          outline: none;
        }
      }
    }

    &--newPW {
      width: 100%;
      height: 13%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      margin: 2% 0;
      font-family: "Crimson Text", serif;
      font-size: 1.1rem;
      &--label {
        width: 100%;
        margin-right: 5%;
        margin-left: 5%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
      &--input {
        width: 90%;
        height: 50%;
        margin-left: 5%;
        margin-right: 5%;
        border: 1px lightgrey solid;
        border-radius: 4px;
        background-color: rgb(235, 235, 235);
        font-family: "Crimson Text", serif;
        font-size: 1.1rem;
        padding-left: 1%;
        &:focus {
          outline: none;
        }
      }
    }

    &--newPWConfirm {
      width: 100%;
      height: 13%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      margin: 2% 0;
      font-family: "Crimson Text", serif;
      font-size: 1.1rem;
      &--label {
        width: 100%;
        margin-right: 5%;
        margin-left: 5%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
      &--input {
        width: 90%;
        height: 50%;
        margin-left: 5%;
        margin-right: 5%;
        border: 1px lightgrey solid;
        border-radius: 4px;
        background-color: rgb(235, 235, 235);
        font-family: "Crimson Text", serif;
        font-size: 1.1rem;
        padding-left: 1%;
        &:focus {
          outline: none;
        }
      }
    }

    &--submit {
      width: 100%;
      height: 13%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      &--button {
        width: 50%;
        height: 80%;
        font-family: "Crimson Text", serif;
        font-size: 1.1rem;
        font-weight: bold;
        color: white;
        border: 1px lightgray solid;
        border-radius: 8px;
        background-color: #0095f6;
        opacity: 0.4;
        &:focus {
          outline: none;
        }
      }
    }
  }
}

@include tablet {
  .changePassword {
    &__username {
      &--label {
        font-size: 2rem;
      }
    }

    &__form {
      &--oldPW {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        height: 7%;
        &--label {
          width: 30%;

          height: 100%;
          justify-content: flex-end;
          text-align: right;
        }

        &--input {
          width: 60%;
          height: 100%;
          margin-left: 0;
          font-size: 1.4rem;
        }
      }

      &--newPW {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        height: 7%;
        &--label {
          width: 30%;

          height: 100%;
          justify-content: flex-end;
          text-align: right;
        }

        &--input {
          width: 60%;
          height: 100%;
          margin-left: 0;
          font-size: 1.4rem;
        }
      }

      &--newPWConfirm {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        height: 7%;
        &--label {
          width: 30%;

          height: 100%;
          justify-content: flex-end;
          text-align: right;
        }

        &--input {
          width: 60%;
          height: 100%;
          margin-left: 0;
          font-size: 1.4rem;
        }
      }

      &--submit {
        height: 10%;
        margin-top: 5%;
        &--button {
          width: 35%;
          height: 85%;
          font-size: 1.3rem;
        }
      }
    }
  }
}

@include desktop {
  .changePassword {
    &__username {
      &--label {
        margin-left: 20%;
      }
    }

    &__form {
      &--submit {
        &--button {
          font-size: 1.5rem;
        }
      }
    }
  }
}
