.header {
  width: 100vw;
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px lightgrey solid;
  position: fixed;

  &__burgerNav {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &--line {
      width: 25px;
      height: 3px;
      background-color: rgb(80, 76, 76);
      margin: 2px;
      transition: all 0.3s ease;
    }
  }

  &__logo {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &--link {
      text-decoration: none;
      color: black;
      &--label {
        width: 80%;
        height: 80%;
        font-family: "Pacifico", cursive;
        font-size: 1.2rem;
        text-align: center;
      }
    }
  }

  &__navLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0px;
    width: 30%;
    height: 92vh;
    top: 9vh;
    background-color: rgb(255, 255, 255);
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 1.3rem;

    &--home {
      width: 100%;
      text-decoration: none;
      color: black;

      &--label {
        margin: 10%;
        width: 80%;
        text-align: center;
      }
    }

    &--about {
      margin: 10%;
      width: 80%;
      text-align: center;
    }
  }

  &__userProfile {
    width: 15%;
    height: 100%;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    &--link {
      width: 80%;
      height: 80%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      &--profileImg {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 1px solid black;
      }
    }
  }

  &__login {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
  }
}

.burgerNav__Active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

@include tablet {
  .header {
    &__burgerNav {
      display: none;
    }

    &__logo {
      &--link {
        &--label {
          font-size: 2.3rem;
        }
      }
    }

    &__navLink {
      position: relative;
      top: 0px;
      height: 100%;
      width: 45%;
      flex-direction: row;
      transform: translateX(0%);
      transition: none;
      justify-content: flex-end;
      font-size: 1.7rem;
      &--home {
        width: 35%;
        text-decoration: none;
        color: black;
        &--label {
          // width: 35%;
          width: 100%;
          margin: 0;
          // font-size: 2rem;
        }
      }

      &--about {
        width: 35%;
        margin: 0;
        // font-size: 2rem;
      }
    }

    &__userProfile {
      &--link {
        &--profileImg {
          width: 55px;
          height: 55px;
        }
      }
    }
  }
}

@include desktop {
  .header {
    &__logo {
      width: 30%;
      &--link {
        &--label {
          font-size: 2.1rem;
        }
      }
    }

    &__navLink {
      width: 45%;
      height: 100%;
      font-size: 1.6rem;
    }
  }
}
