.header {
  width: 100vw;
  height: 9vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;

  &__burgerNav {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &--line {
      width: 25px;
      height: 3px;
      background-color: rgb(80, 76, 76);
      margin: 2px;
      transition: all 0.3s ease;
    }
  }

  &__logo {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &--icon {
      width: 100%;
      height: 100%;
      max-width: 90px;
    }
  }

  &__navLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0px;
    width: 30%;
    height: 92vh;
    top: 9vh;
    background-color: white;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 1.3rem;

    &--home {
      margin: 10%;
      width: 80%;
      text-align: center;
    }

    &--about {
      margin: 10%;
      width: 80%;
      text-align: center;
    }
  }

  &__userProfile {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.burgerNav__Active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

@include tablet {
  .header {
    &__burgerNav {
      display: none;
    }

    &__logo {
      &--icon {
        width: 80%;
        max-width: 160px;
      }
    }

    &__navLink {
      position: relative;
      top: 0px;
      height: 100%;
      width: 60%;
      flex-direction: row;
      transform: translateX(0%);
      transition: none;
      &--home {
        width: 35%;
        margin: 0;
      }

      &--about {
        width: 35%;
        margin: 0;
      }
    }
  }
}

@include desktop {
  .header {
    &__logo {
      width: 30%;
      justify-content: flex-start;
      &--icon {
        margin-left: 30%;
      }
    }

    &__navLink {
      width: 50%;
      height: 100%;
    }
  }
}
