.desktop__wrapper {
  width: 100%;
  height: 100%;
}

.postPage {
  width: 100vw;
  height: 91vh;

  &__userProfile {
    display: none;
  }
  &__posts {
    width: 100%;
    height: 95%;
    margin: 2% 0;
    display: flex;
    flex-direction: column;
    border: 1px lightgrey solid;

    &--header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 6%;
      border: none;
      border-bottom: 1px lightgrey solid;
      background-color: white;
      &-username {
        width: 15%;
        height: 100%;
        font-family: "Crimson Text", serif;
        font-size: 1.3rem;
        text-align: center;
      }
      &-editbutton {
        width: 15%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &-line {
          width: 3px;
          height: 3px;
          margin: 1px;
          border-radius: 50%;
          background-color: black;
        }
      }
    }

    &--content {
      width: 100%;
      height: 65%;

      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-img {
        max-width: 100%;
        max-height: 100%;
      }
      &-video {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &--comments {
      width: 100%;
      height: 15%;

      font-family: "Crimson Text", serif;
      font-size: 1rem;
      font-weight: 400;
      background-color: white;
      overflow-y: scroll;
      &-content {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: row;

        &-username {
          width: 30%;
          height: 100%;
          font-weight: bold;
        }
        &-text {
          width: 55%;
          height: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        &-more {
          width: 10%;
          color: lightgrey;
        }
      }
    }

    &--addComments {
      width: 100%;
      height: 10%;
      display: flex;
      flex-direction: row;
      border: 1px lightgrey solid;

      &--input {
        width: 80%;
        height: 100%;
        font-family: "Crimson Text", serif;
        font-weight: 500;
        font-size: 1rem;
        resize: none;
        border: none;
        &:focus {
          outline: none;
        }
      }

      &--post {
        width: 20%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &--button {
          font-family: "Crimson Text", serif;
          font-weight: bold;
          font-size: 1rem;
          color: rgb(146, 145, 145);
          border: none;
          background: none;
          &:focus {
            outline: none;
          }
        }
      }
    }

    &--likes {
      width: 100%;
      height: 5%;
      background-color: white;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      &-icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
      &-number {
        width: 20px;
        height: 20px;
        font-family: "Crimson Text", serif;
        font-size: 1rem;
        text-align: center;
        color: rgb(146, 145, 145);
      }
    }
  }
}

@include tablet {
  .postPage {
    &__posts {
      width: 80%;
      margin: 2% 10%;
      &--header {
        &-username {
          font-size: 1.7rem;
        }
      }

      &--comments {
        font-size: 1.5rem;
      }

      &--addComments {
        &--input {
          font-size: 1.5rem;
        }

        &--post {
          &--button {
            font-size: 1.5rem;
          }
        }
      }
      &--likes {
        &-icon {
          width: 35px;
          height: 35px;
        }
        &-number {
          width: 35px;
          height: 35px;
          font-size: 1.5rem;
        }
      }
    }
  }
}

@include desktop {
  .desktop__wrapper {
    width: 50%;
    height: 95%;
    margin: 0 10% 0 15%;
  }
  .postPage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__posts {
      width: 100%;
      height: 98%;
      margin: 0;
      margin-top: 2%;
    }

    &__userProfile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 25%;
      height: 40%;
      margin-top: 2%;
      margin-right: 5%;
      background-color: white;
      border-radius: 8px;
      box-shadow: 2px 2px 4px black;

      &--signin {
        width: 100%;
        height: 40%;
        font-family: "Oswald", sans-serif;
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
      }

      &--userInformation {
        width: 100%;
        height: 100%;
        &--username {
          width: 100%;
          height: 40%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-family: "Oswald", sans-serif;
          font-weight: bold;
          font-size: 2rem;
        }

        &--info {
          width: 100%;
          height: 60%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          font-family: "Oswald", sans-serif;
          font-weight: 500;
          font-size: 1rem;
          &-email {
            width: 45%;
            height: 30%;
            margin-left: 45%;
            margin-right: 10%;
            color: rgb(167, 165, 165);
          }
          &-github {
            width: 45%;
            height: 30%;
            margin-left: 45%;
            margin-right: 10%;
            color: rgb(167, 165, 165);
          }
          &-linkedin {
            width: 45%;
            height: 30%;
            margin-left: 45%;
            margin-right: 10%;
            color: rgb(167, 165, 165);
          }
        }
      }
    }
  }
}
