.desktop__wrapper {
  width: 100%;
  height: 100%;
}

.postPage {
  width: 100vw;
  height: 91vh;

  &__loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid rgb(80, 76, 76); /* Blue */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 40%;
  }

  &__userProfile {
    display: none;
  }
  &__posts {
    width: 100%;
    height: 95%;
    margin: 2% 0;
    display: flex;
    flex-direction: column;
    border: 1px lightgrey solid;

    &--header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 6%;
      border: none;
      border-bottom: 1px lightgrey solid;
      background-color: white;
      &-username {
        width: 40%;
        height: 100%;
        font-family: "Crimson Text", serif;
        font-size: 1.3rem;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        &--profileImg {
          width: 30%;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          &--icon {
            width: 28px;
            height: 28px;
            border-radius: 50%;
          }
        }

        &--label {
          width: 60%;
          margin-left: 5%;
          height: 100%;
          text-align: left;
        }
      }
      &-editbutton {
        width: 15%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &-line {
          width: 3px;
          height: 3px;
          margin: 1px;
          border-radius: 50%;
          background-color: black;
        }
      }
    }

    &--content {
      width: 100%;
      height: 65%;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-img {
        max-width: 100%;
        max-height: 100%;
      }
      &-video {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &--comments {
      width: 100%;
      height: 15%;

      font-family: "Crimson Text", serif;
      font-size: 1rem;
      font-weight: 400;
      background-color: white;
      overflow-y: scroll;
      &-content {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: row;

        &-username {
          width: 30%;
          height: 100%;
          font-weight: bold;
          display: flex;
          flex-direction: row;
          align-items: center;
          &--profileImg {
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            &--icon {
              width: 20px;
              height: 20px;
              max-height: 100%;
              border-radius: 50%;
            }
          }
          &--label {
            width: 60%;
            height: 75%;
          }
        }
        &-text {
          width: 55%;
          height: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        &-more {
          width: 10%;
          color: lightgrey;
        }
      }
    }

    &--addComments {
      width: 100%;
      height: 10%;
      display: flex;
      flex-direction: row;
      border: 1px lightgrey solid;

      &--input {
        width: 80%;
        height: 100%;
        font-family: "Crimson Text", serif;
        font-weight: 500;
        font-size: 1rem;
        resize: none;
        border: none;
        &:focus {
          outline: none;
        }
      }

      &--post {
        width: 20%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &--button {
          font-family: "Crimson Text", serif;
          font-weight: bold;
          font-size: 1rem;
          color: rgb(146, 145, 145);
          border: none;
          background: none;
          &:focus {
            outline: none;
          }
        }
      }
    }

    &--likes {
      width: 100%;
      height: 5%;
      background-color: white;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding-left: 1%;

      &-icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
      &-number {
        width: 20px;
        height: 20px;
        font-family: "Crimson Text", serif;
        font-size: 1rem;
        text-align: center;
        color: rgb(146, 145, 145);
        margin-top: 1%;
        margin-bottom: 1%;
      }
    }
  }
}

@include tablet {
  .postPage {
    &__loader {
      left: 45%;
    }
    &__posts {
      width: 80%;
      margin: 2% 10%;
      &--header {
        &-username {
          &--profileImg {
            &--icon {
              width: 55px;
              height: 55px;
              max-height: 100%;
            }
          }

          &--label {
            height: 80%;
            width: 40%;
            font-size: 2rem;
            margin-left: 2%;
          }
        }
      }

      &--comments {
        font-size: 1.5rem;

        &-content {
          &-username {
            &--profileImg {
              &--icon {
                width: 40px;
                height: 40px;
              }
            }
          }
        }
      }

      &--addComments {
        &--input {
          font-size: 1.5rem;
        }

        &--post {
          &--button {
            font-size: 1.5rem;
          }
        }
      }
      &--likes {
        padding-left: 3%;
        &-icon {
          width: 25px;
          height: 25px;
        }
        &-number {
          width: 30px;
          height: 30px;
          font-size: 1.5rem;
        }
      }
    }
  }
}

@include desktop {
  .desktop__wrapper {
    width: 50%;
    height: 95%;
    margin: 0 10% 0 15%;
  }
  .postPage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__posts {
      width: 100%;
      height: 98%;
      margin: 0;
      margin-top: 2%;

      &--comments {
        &-content {
          &-username {
            &--profileImg {
              &--icon {
                width: 33px;
                height: 33px;
              }
            }
          }
        }
      }

      &--header {
        &-username {
          &--profileImg {
            &--icon {
              width: 42px;
              height: 42px;
              max-height: 100%;
            }
          }
          &--label {
            font-size: 2rem;
            margin-left: 1%;
          }
        }
      }
      &--likes {
        &-icon {
          width: 25px;
          height: 25px;
          margin-top: 1%;
        }
      }
    }

    &__userProfile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 25%;
      height: 40%;
      margin-top: 2%;
      margin-right: 5%;
      background-color: white;
      border-radius: 8px;
      box-shadow: 2px 2px 4px black;

      &--signin {
        width: 100%;
        height: 40%;
        font-family: "Oswald", sans-serif;
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
      }

      &--userInformation {
        width: 100%;
        height: 100%;
        &--username {
          width: 100%;
          height: 40%;
          display: flex;
          flex-direction: row;
          align-items: center;
          font-family: "Oswald", sans-serif;
          font-weight: bold;
          font-size: 2rem;
          &-profileImg {
            width: 35%;
            height: 35%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            &--icon {
              width: 55px;
              height: 55px;
              border-radius: 50%;
            }
          }

          &-label {
            width: 50%;
            height: 35%;
            text-align: left;
          }
        }

        &--info {
          width: 100%;
          height: 60%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          font-family: "Oswald", sans-serif;
          font-weight: 500;
          font-size: 1rem;
          &-email {
            width: 45%;
            height: 30%;
            margin-left: 25%;
            margin-right: 10%;
            color: rgb(167, 165, 165);
          }
          &-github {
            width: 45%;
            height: 30%;
            margin-left: 25%;
            margin-right: 10%;
            color: rgb(167, 165, 165);
          }
          &-linkedin {
            width: 45%;
            height: 30%;
            margin-left: 25%;
            margin-right: 10%;
            color: rgb(167, 165, 165);
          }
        }
      }
    }
  }
}
