* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "./partials/breakpoint";
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import "./partials/authPage";
