@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* media query for mobile */
/* media query for tablet */
/* media query for desktop */
.header {
  width: 100vw;
  height: 9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
}

.header__burgerNav {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header__burgerNav--line {
  width: 25px;
  height: 3px;
  background-color: #504c4c;
  margin: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__logo {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo--icon {
  width: 100%;
  height: 100%;
  max-width: 90px;
}

.header__navLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0px;
  width: 30%;
  height: 92vh;
  top: 9vh;
  background-color: white;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
}

.header__navLink--home {
  margin: 10%;
  width: 80%;
  text-align: center;
}

.header__navLink--about {
  margin: 10%;
  width: 80%;
  text-align: center;
}

.header__userProfile {
  width: 30%;
  height: 100%;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
}

.header__login {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
}

.burgerNav__Active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
          transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
          transform: rotate(45deg) translate(-5px, -5px);
}

@media only screen and (min-width: 768px) {
  .header__burgerNav {
    display: none;
  }
  .header__logo--icon {
    width: 80%;
    max-width: 160px;
  }
  .header__navLink {
    position: relative;
    top: 0px;
    height: 100%;
    width: 60%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: none;
    transition: none;
  }
  .header__navLink--home {
    width: 35%;
    margin: 0;
  }
  .header__navLink--about {
    width: 35%;
    margin: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .header__logo {
    width: 30%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__logo--icon {
    margin-left: 30%;
  }
  .header__navLink {
    width: 50%;
    height: 100%;
  }
}

html {
  background-color: grey;
}

.authPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70vw;
  height: 70vh;
  margin: 15vh 15vw;
  -webkit-box-shadow: 2px 2px 4px black;
          box-shadow: 2px 2px 4px black;
  border-radius: 4px;
  background-color: white;
}

.authPage__logo {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.authPage__logo--icon {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.3rem;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  padding: 3% 0;
}

.authPage__title {
  width: 100%;
  height: 15%;
  text-align: center;
  padding: 8%;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}

.authPage__login {
  width: 80%;
  height: 49%;
  margin: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.authPage__login--email {
  width: 100%;
  height: 18%;
  margin: 1% 0;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  color: #807d7d;
}

.authPage__login--emailInput {
  width: 100%;
  height: 18%;
  margin: 1% 0;
  border: none;
  border-bottom: 1px solid lightgrey;
  font-size: 1rem;
}

.authPage__login--emailInput:focus {
  outline: none;
}

.authPage__login--password {
  width: 100%;
  height: 18%;
  margin: 1% 0;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  color: #807d7d;
}

.authPage__login--passwordInput {
  width: 100%;
  height: 18%;
  margin: 1% 0;
  border: none;
  border-bottom: 1px solid lightgrey;
  font-size: 1rem;
}

.authPage__login--passwordInput:focus {
  outline: none;
}

.authPage__login--loginSubmit {
  width: 50%;
  height: 15%;
  margin: 4% 25%;
  border: 1px solid lightgrey;
  -webkit-box-shadow: 2px 2px 4px lightgrey;
          box-shadow: 2px 2px 4px lightgrey;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #a39c9c;
}

.authPage__login--loginSubmit:focus {
  outline: none;
}

.authPage__signup {
  width: 80%;
  height: 75%;
  margin: 0 10%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.authPage__signup--username {
  width: 100%;
  height: 18%;
  margin: 1% 0;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  color: #807d7d;
}

.authPage__signup--usernameInput {
  width: 100%;
  height: 15%;
  margin: 1% 0;
  border: none;
  border-bottom: 1px solid lightgrey;
  font-size: 1rem;
}

.authPage__signup--usernameInput:focus {
  outline: none;
}

.authPage__signup--email {
  width: 100%;
  height: 18%;
  margin: 1% 0;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  color: #807d7d;
}

.authPage__signup--emailInput {
  width: 100%;
  height: 15%;
  margin: 1% 0;
  border: none;
  border-bottom: 1px solid lightgrey;
  font-size: 1rem;
}

.authPage__signup--emailInput:focus {
  outline: none;
}

.authPage__signup--password {
  width: 100%;
  height: 18%;
  margin: 1% 0;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  color: #807d7d;
}

.authPage__signup--passwordInput {
  width: 100%;
  height: 15%;
  margin: 1% 0;
  border: none;
  border-bottom: 1px solid lightgrey;
  font-size: 1rem;
}

.authPage__signup--passwordInput:focus {
  outline: none;
}

.authPage__signup--Confirmpassword {
  width: 100%;
  height: 18%;
  margin: 1% 0;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  color: #807d7d;
}

.authPage__signup--ConfirmpasswordInput {
  width: 100%;
  height: 15%;
  margin: 1% 0;
  border: none;
  border-bottom: 1px solid lightgrey;
  font-size: 1rem;
}

.authPage__signup--ConfirmpasswordInput:focus {
  outline: none;
}

.authPage__signup--signupSubmit {
  width: 50%;
  height: 15%;
  margin: 4% 25%;
  border: 1px solid lightgrey;
  -webkit-box-shadow: 2px 2px 4px lightgrey;
          box-shadow: 2px 2px 4px lightgrey;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  color: #a39c9c;
}

.authPage__signup--signupSubmit:focus {
  outline: none;
}

.authPage__divideLine {
  width: 60%;
  height: 1%;
  margin: 0 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.authPage__askToRegister {
  width: 80%;
  height: 25%;
  margin: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #807d7d;
}

.authPage__askToRegister--button {
  text-decoration: underline;
}

.authPage__backToLogin {
  width: 80%;
  height: 18%;
  margin: 0 10%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #807d7d;
}

.authPage__backToLogin--button {
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .authPage {
    width: 50vw;
    height: 60vh;
    margin: 20vh 25vw;
  }
  .authPage__logo--icon {
    font-size: 1.8rem;
  }
  .authPage__title {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 1440px) {
  .authPage {
    width: 30vw;
    height: 60vh;
    margin: 20vh 35vw;
  }
  .authPage__logo--icon {
    font-size: 1.8rem;
  }
  .authPage__title {
    font-size: 1.6rem;
  }
}

.userProfileloading {
  width: 100vw;
  height: 91vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.userProfileloading__loader {
  border: 10px solid #f3f3f3;
  /* Light grey */
  border-top: 10px solid #504c4c;
  /* Blue */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.userProfile {
  width: 100vw;
  height: 91vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.userProfile__userInformation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 40%;
}

.userProfile__userInformation--username {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.userProfile__userInformation--info {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.userProfile__userInformation--info-email {
  width: 45%;
  height: 30%;
  margin-left: 45%;
  margin-right: 10%;
  color: #a7a5a5;
}

.userProfile__userInformation--info-github {
  width: 45%;
  height: 30%;
  margin-left: 45%;
  margin-right: 10%;
  color: #a7a5a5;
}

.userProfile__userInformation--info-linkedin {
  width: 45%;
  height: 30%;
  margin-left: 45%;
  margin-right: 10%;
  color: #a7a5a5;
}

.userProfile__divideLine {
  width: 50%;
  height: 1%;
  margin: 0 25%;
}

.userProfile__posts {
  width: 80%;
  height: 40%;
  margin: 5% 10%;
  background-color: lightgreen;
  overflow: scroll;
}

.userProfile__logout {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userProfile__logout--button {
  width: 30%;
  height: 80%;
  border: 1px black solid;
  border-radius: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media only screen and (min-width: 768px) {
  .userProfile__userInformation {
    height: 20%;
  }
  .userProfile__userInformation--username {
    width: 50%;
    margin: 0 25%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .userProfile__userInformation--info {
    width: 50%;
    margin: 0 25%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .userProfile__userInformation--info-email {
    margin: 0;
  }
  .userProfile__userInformation--info-github {
    margin: 0;
  }
  .userProfile__userInformation--info-linkedin {
    margin: 0;
  }
  .userProfile__posts {
    height: 60%;
  }
  .userProfile__logout--button {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1440px) {
  .userProfile__posts {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

.desktop__wrapper {
  width: 100%;
  height: 100%;
}

.postPage {
  width: 100vw;
  height: 91vh;
}

.postPage__userProfile {
  display: none;
}

.postPage__posts {
  width: 100%;
  height: 95%;
  margin: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px lightgrey solid;
}

.postPage__posts--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 6%;
  border: none;
  border-bottom: 1px lightgrey solid;
  background-color: white;
}

.postPage__posts--header-username {
  width: 15%;
  height: 100%;
  font-family: "Crimson Text", serif;
  font-size: 1.3rem;
  text-align: center;
}

.postPage__posts--header-editbutton {
  width: 15%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.postPage__posts--header-editbutton-line {
  width: 3px;
  height: 3px;
  margin: 1px;
  border-radius: 50%;
  background-color: black;
}

.postPage__posts--content {
  width: 100%;
  height: 65%;
  background-color: white;
}

.postPage__posts--comments {
  width: 100%;
  height: 15%;
  font-family: "Crimson Text", serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: white;
}

.postPage__posts--comments-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.postPage__posts--comments-content-username {
  width: 30%;
  height: 100%;
  font-weight: bold;
}

.postPage__posts--comments-content-text {
  width: 55%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.postPage__posts--comments-content-more {
  width: 10%;
  color: lightgrey;
}

.postPage__posts--addComments {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px lightgrey solid;
}

.postPage__posts--addComments--input {
  width: 80%;
  height: 100%;
  font-family: "Crimson Text", serif;
  font-weight: 500;
  font-size: 1rem;
}

.postPage__posts--addComments--input:focus {
  outline: none;
}

.postPage__posts--addComments--post {
  width: 20%;
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.postPage__posts--addComments--post--button {
  font-family: "Crimson Text", serif;
  font-weight: bold;
  font-size: 1rem;
  color: #929191;
  border: none;
  background: none;
}

.postPage__posts--likes {
  width: 100%;
  height: 5%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.postPage__posts--likes-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.postPage__posts--likes-number {
  width: 20px;
  height: 20px;
  font-family: "Crimson Text", serif;
  font-size: 1rem;
  text-align: center;
  color: #929191;
}

@media only screen and (min-width: 768px) {
  .postPage__posts {
    width: 80%;
    margin: 2% 10%;
  }
  .postPage__posts--header-username {
    font-size: 1.7rem;
  }
  .postPage__posts--comments {
    font-size: 1.5rem;
  }
  .postPage__posts--addComments--input {
    font-size: 1.5rem;
  }
  .postPage__posts--addComments--post--button {
    font-size: 1.5rem;
  }
  .postPage__posts--likes-icon {
    width: 35px;
    height: 35px;
  }
  .postPage__posts--likes-number {
    width: 35px;
    height: 35px;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1440px) {
  .desktop__wrapper {
    width: 50%;
    height: 95%;
    margin: 0 10% 0 15%;
  }
  .postPage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .postPage__posts {
    width: 100%;
    height: 98%;
    margin: 0;
    margin-top: 2%;
  }
  .postPage__userProfile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25%;
    height: 40%;
    margin-top: 2%;
    margin-right: 5%;
    background-color: white;
    border-radius: 8px;
    -webkit-box-shadow: 2px 2px 4px black;
            box-shadow: 2px 2px 4px black;
  }
  .postPage__userProfile--signin {
    width: 100%;
    height: 40%;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
  }
  .postPage__userProfile--userInformation {
    width: 100%;
    height: 100%;
  }
  .postPage__userProfile--userInformation--username {
    width: 100%;
    height: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 2rem;
  }
  .postPage__userProfile--userInformation--info {
    width: 100%;
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 1rem;
  }
  .postPage__userProfile--userInformation--info-email {
    width: 45%;
    height: 30%;
    margin-left: 45%;
    margin-right: 10%;
    color: #a7a5a5;
  }
  .postPage__userProfile--userInformation--info-github {
    width: 45%;
    height: 30%;
    margin-left: 45%;
    margin-right: 10%;
    color: #a7a5a5;
  }
  .postPage__userProfile--userInformation--info-linkedin {
    width: 45%;
    height: 30%;
    margin-left: 45%;
    margin-right: 10%;
    color: #a7a5a5;
  }
}
/*# sourceMappingURL=main.css.map */