* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
}
@import "./partials/breakpoint";
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
@import "./partials/header";
@import "./partials/authPage";
@import "./partials/userProfile";
@import "./partials/postPage";
@import "./partials/addComment";
@import "./partials/editProfile";
@import "./partials/changePassword";
@import "./partials/imageCrop";
@import "./partials/editMenu";
